* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    border: 4px solid #ff0000;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: blue;
    text-underline-offset: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    /* width: 100%; */
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #ff6666;
}

button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #ff0000;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #ff6666;
    border-color: #ff6666;
    color: white;
}