.button {
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}
button {
    color: aliceblue;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

a {
    color: white; /* Cambiar el color del texto del enlace a blanco */
    text-decoration: none; /* Eliminar el subrayado del enlace */
}

a:hover {
    text-decoration: underline; /* Agregar un subrayado al pasar el mouse sobre el enlace */
}
h2 {margin-top: 2%;}


/* input[type="submit"] {
    margin: 0 auto; 
    display: block; 
    width: 50%; 
} */