body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 2px solid #e50914;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1em;
}

button[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
}
