body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="radio"] {
    display: none;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-top: 2%;
}


.radio-option label {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid #e50914;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: border-color 0.3s;
}

.radio-option label:hover {
    border-color: #b2070d;
}

.radio-option input[type="radio"]:checked + label {
    background-color: #e50914;
}

.radio-option input[type="radio"]:checked + label:before {
    content: '\2713';
    font-size: 1.2em;
    color: #fff;
    margin-right: 5px;
}

.radio-option input[type="radio"]:checked + label:after {
    background-color: #fff;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    margin: 4% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"]:hover {
    background-color: #b2070d;
}

a {
    color: white; /* Cambiar el color del texto del enlace a blanco */
    text-decoration: none; /* Eliminar el subrayado del enlace */
}

a:hover {
    text-decoration: underline; /* Agregar un subrayado al pasar el mouse sobre el enlace */
}

.button {
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

td button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button {
    color: aliceblue;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}
/* Estilo para el formulario de selección de series */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}


