body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}
 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
 

.registro-form {
    width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #e50914; /* Añadimos un borde rojo */
}
 
.registro-form h2 {
    /* margin-top: 0; Eliminamos el margen superior del h2 */
    color: #fff; /* Aseguramos que el color del texto sea blanco */
}
 
.registro-form label {
    display: block;
    margin-bottom: 10px;
}
 
.registro-form input[type="text"],
.registro-form input[type="email"],
.registro-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}
 
.foto-options {
    margin-bottom: 20px;
}
 
.foto-options img {
    width: 100px;
    margin-right: 10px;
}
 
.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
    cursor: pointer;
}
 
.submit-btn:hover {
    background-color: #ff0a16;
}