/* ************************************************************************************** */
/* APARTADO DE TODO LO APLICABLE A LA PÁGINA */
/* ************************************************************************************** */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    background-size:cover;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
    width: 100%;
}

/* ************************************************************************************** */
/* HEADER & PÁGINA INICIO */
/* ************************************************************************************** */

header {
    background-color: #000;
    color: rgb(255, 0, 0);
    width: 100%;
    margin: auto;
    font-weight: bold;
}

main {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

html {
    height: 100%;
}

.contenedor_nav {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    width: 100%;
    align-items: center;
}

.marca {
    font-size: xx-large;
    text-decoration: underline;
    text-decoration-color: blue;
    text-underline-offset: 10px;
}

.marca span {
    color: white;
}

.menu {
    display: flex;
    justify-content: space-around;
    font-size: larger;
}

.menu li {
    list-style: none;
    display: inline-block; 
    margin-right: 20px; 
}

.menu a {
    color: red;
    text-decoration: none;
    padding: 10px 22px;
    font-weight: bold;
    border-radius: 10px;
}

.menu a:hover {
    background-color: white;
    color:#000;
    transition: ease-in-out .4s;
    border-radius: 10px;
}

.admin {
    display: none;
    position: absolute;
    padding: 15px;
}

.menu li.admin {
    margin-left: 20px; 
}

.admin li {
    padding: 10px;
}

li:hover .admin {
    display: block;
}

.conexion {
    display: flex;
    justify-content: end;
    font-size: medium;
    margin-right: 40px;
}

.conexion li {
    list-style: none;
}

.conexion a {
    color: white;
    text-decoration: none;
    padding: 10px 22px;
    font-weight: bold;
    border-radius: 10px;
}

.conexion a:hover {
    background-color: red;
    color:#000;
    transition: ease-in-out .4s;
    border-radius: 10px;
}

.button {
    --color: rgb(255, 0, 0);
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}
   
.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}
   
.button::before {
    top: -1em;
    left: -1em;
}
   
.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
   
.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}
   
.button:hover {
    color: rgb(10, 25, 30);
}
   
.button:active {
    filter: brightness(.8);
}
   
.inicio {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    margin-top: 100px;
    width: 100%;
}

.inicio__eslogan {
    display: flex;
    width: 80%;
}

.inicio__eslogan h2 {
    margin-bottom: 50px;
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
}

.inicio__img {
    overflow: hidden;
    width: 100%;
}

.cartelera-container {
    display: flex;
    animation: moveLeft 20s linear infinite;
    animation-iteration-count: infinite;
}

.cartelera {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 400px;
    height: 600px;
    background-size: cover;
}

.cartelera img {
    width: 400px;
    max-height: 600px;
    object-fit: cover;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.inicio__descripcion {
    display: flex;
    width: 80%;
} 

.inicio__descripcion h3 {
    margin-top: 75px;
    font-size: large;
}

.button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* ************************************************************************************** */
/* PÁGINA DE INDEX USER & ADMIN */
/* ************************************************************************************** */

.seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.grupo {
    width: 400px;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.grupo__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 7%;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 10px;
    font-size: x-large;
}

.grupo__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 275px;
    height: 475px;
    background-size: cover;
    background-position: center;
}

.producto img {
    width: 275px;
    max-height: 475px;
    object-fit: cover;
}

/* ************************************************************************************** */
/* PÁGINA FUNCIÓN ADMIN */
/* ************************************************************************************** */

h1 {
    text-align: center;
    margin-top: 200px;
    text-decoration: underline;
    text-decoration-color: blue;
    text-underline-offset: 10px;
}

table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: #000;
    border-radius: 10px;
    border: 4px solid #ff0000;
}

th, td {
    padding: 10px;
    border: 0px solid #fff;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #000;
}

td button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

td button:hover {
    background-color: #0056b3;
}

td button[name="submit_borrar"] {
    background-color: #dc3545;
}

td button[name="submit_borrar"]:hover {
    background-color: #bd2130;
}

.botonparatodo {
    --glow-color: rgb(255, 140, 140);
    --glow-spread-color: rgba(255, 99, 71, 0.781);
    --enhanced-glow-color: rgb(255, 176, 176);
    --btn-color: rgb(220, 20, 60);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 100px;
    text-decoration: none;
}
   
.botonparatodo::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
   
.botonparatodo:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
}
   
.botonparatodo:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
}

/* ************************************************************************************** */
/* PÁGINAS PELICULAS & DOCUMENTALES */
/* ************************************************************************************** */

.peliculas {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10%;
    margin-top: -300px;
}

.peliculas__titulo h1 {
    font-size: xx-large;
    margin-bottom: 50px;
    text-decoration-color: red;
}

.peliculas__director p {
    font-weight: bold;
    font-size: large;
    margin-bottom: 30px;
}

.peliculas__descripcion p {
    font-size: medium;
    margin-bottom: 30px;
}
.peliculas__anioLanzamiento p {
    font-size: medium;
    margin-bottom: 30px;
}


.peliculas__duracion p {
    font-weight: bold;
    font-size: medium;
    margin-bottom: 30px;
    
}

.peliculas__video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.peliculas__video p {
    font-weight: bold;
    font-size: medium;
}

/* ************************************************************************************** */
/* PÁGINA DE FOOTER */
/* ************************************************************************************** */

.footer {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: auto;
    justify-items: end;
    grid-template-columns: auto auto;
    height: 26%;
    min-height: 333px;
    width: 100%;
}

.footer .main {
    width: 80%;
    margin: auto;
}

.footer__content span {
    color: white;
    font-weight: bold;
}

.footer__content h2 {
    font-size: 3em;
    color:  #DD1F19;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: blue;
    text-underline-offset: 10px;
}

.footer__content h5 {
    font-size: larger;
    color:  white;
    text-align: justify;
    padding: 1%;
    line-height: 1.5;
    font-weight: bold;
}

.footer__content h5 span {
    color: red;
    font-weight: bold;
}

.footer__socialnetwork ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 2%;
}

.instagram {
    color: #FC60A8;
}

.twitter {
    color: #69FFF1;
}

.youtube {
    color: #DD1F19;
}

.google {
    color: #DF8601;
}